services:
  web:
    build:
      context: .
    image: ghcr.io/serialcoder-io/progress-log/progress-log

    ports:
      - 8000:8000
    env_file:
      - .env
    depends_on:
      - postgres
    volumes:
      - .:/app 

  postgres:
    image: postgres:${POSTGRES_TAG}
    container_name: postgres_container
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      PGDATA: /var/lib/postgresql/data
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports: 
      - 5432:5432

volumes:
  pgdata:
