{% load duration %}
<c-components.base>
  <div class="pt-4 px-4">
    <c-components.ui.bread_crumbs>
      <c-components.ui.bread_crumb_link 
        label="Dashboard" 
        hx-get="{% url 'dashboard' %}"
        hx-target="#base-component"
        hx-swap="innerHTML"
        hx-push-url="true"
        class="font-medium text-base-content hover:text-neutral-600 hover:cursor-pointer"
      />
      <c-icons.chevron_right />
      <li><a class="text-neutral-600">Goals</a></li>
    </c-components.ui.bread_crumb_link>
  </div>
  <div class="pt-6 px-4 space-y-6">
    <div class="flex justify-between items-center">
      <div class="flex flex-col">
        <h2 class="text-3xl text-neutral">Goals</h2>
        <p class="text-neutral-500">Manage and track your long-term goals</p>
      </div>
      <c-components.ui.button extra_class="btn-primary h-10 font-normal">
        <c-slot name="text">
          <c-icons.plus />
          <span class="text-md font-semibold">Create goal</span>
        </c-slot>
      </c-components.ui.button>
    </div>
    
    <div class="space-y-6">
      <div class="flex items-center gap-6 shadow bg-base-100 rounded-xl py-3 px-3">
        <label class="input input-bordered rounded-xl focus:outline-none focus:ring-0 focus:ring-offset-0">
          <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <g
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-width="2.5"
              fill="none"
              stroke="currentColor"
            >
              <circle cx="11" cy="11" r="8"></circle>
              <path d="m21 21-4.3-4.3"></path>
            </g>
          </svg>
          <input type="search" required placeholder="Search" />
        </label>
        <select class="select rounded-xl w-auto">
          <option selected>All status</option>
          <option>Pending</option>
          <option>In Progress</option>
          <option>Finished</option>
        </select>
      </div>
      <div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-5">
        {% for goal in page_obj %}
         <c-components.ui.tasks.goal_card url="{% url 'goal_details' goal.id %}">
            <c-components.ui.tasks.goal_card.header
              title="{{goal.name}}"
              status="{{goal.status}}"
              label="{{goal.status}}"
            />
            <c-components.ui.tasks.goal_card.body
              description="{{ goal.description.html|safe|truncatechars_html:170 }}"
              finish_subgoals_count="{{goal.finish_subgoals_count}}"
              subgoals_count="{{goal.all_subgoals_count}}"
              skills_count="{{goal.skills_count}}"
              time_spent={{goal.time_spent|duration}}
              progress="{{goal.progress}}"
            />
            <c-components.ui.tasks.goal_card.footer
              due_date="{{ goal.deadline_at|date:'F d Y' }}"
            />
          </c-components.ui.tasks.goal_card>
        {% endfor %}
      </div>
      
    </div>
  </div>
</c-components.base>
