<c-components.base>
  <div class="pt-6 px-4">
    <div class="flex justify-between items-center">
      <div class="flex flex-col">
        <h2 class="text-3xl text-neutral">Goals</h2>
        <p class="text-neutral mt-1">Manage and track your long-term goals</p>
      </div>
      <c-components.ui.button extra_class="btn-primary h-10 font-normal">
        <c-slot name="text">
          <c-icons.plus />
          <span class="text-md font-semibold">Create goal</span>
        </c-slot>
      </c-components.ui.button>
    </div>
    <div></div>
  </div>
</c-components.base>