<div class="card-body p-0">
    <div>
      {{ description }}
    </div>
    <div class="py-2">
      <div class="flex justify-between">
        <span>Progress</span>
        <span>
          {{finish_subgoals_count}}/{{subgoals_count}} 
          {% if subgoals_count|add:0 > 1 %}
            subgoals
          {% else %}
            subgoal
          {% endif %}
          {% if subgoals_count|add:0 > 0 %}
             ({{progress}}%)
          {% else %}
            (0%)
          {% endif %}
      </div>
      {% if progress|add:0 == 100 %}
        <progress class="progress w-full progress-success" value={{progress}} max="100"></progress>
      {% elif progress|add:0 > 75 %}
        <progress class="progress w-full progress-green-yellow" value={{progress}} max="100"></progress>
      {% elif progress|add:0 > 50 %}
        <progress class="progress w-full progress-warning" value={{progress}} max="100"></progress>
      {% elif progress|add:0 > 25 %} 
        <progress class="progress w-full progress-orange" value={{progress}} max="100"></progress>
      {% elif progress|add:0 > 1 %}
        <progress class="progress w-full progress-red" value={{progress}} max="100"></progress>
      {% else %}
        <progress class="progress w-full" value={{progress}} max="100"></progress>
      {% endif %}

      <div class="divider mt-0"></div>
      <div class="grid grid-cols-3">
        <div class="flex flex-col items-center gap-0">
          <div class="font-bold text-md">{{subgoals_count}}</div>
          {% if subgoals_count|add:0 > 1 %}
            <div class="text-neutral-500">sub-goals</div>
          {% else %}
            <div class="text-neutral-500">sub-goal</div>
          {% endif %}
        </div>
        <div class="flex flex-col items-center gap-0">
          <span class="font-bold text-md">{{skills_count}}</span>
          <span class="text-neutral-500">skills</span>
        </div>
        <div class="flex flex-col items-center gap-0">
          <span class="font-bold text-md">{{time_spent}}</span>
          <span class="text-neutral-500">Time spent</span>
        </div>
      </div>
    </div>